BailiffClient/BailiffClient/Service References/ClientService/ClientServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/ClientServices?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Entities" />
  <xs:element name="GetClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Entities" minOccurs="0" name="GetClientInfoResult" nillable="true" type="q1:ClientEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>