BailiffClient/BailiffClient/Service References/DebtorService/DebtorServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/DebtorServices?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Entities" />
  <xs:element name="GetDebtorInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debtorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtorInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Entities" minOccurs="0" name="GetDebtorInfoResult" nillable="true" type="q1:DebtorEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>