BailiffClient/BailiffClient/Service References/DebtorService/DebtorServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DebtorEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiabilityOrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Refno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebtorEntity" nillable="true" type="tns:DebtorEntity" />
</xs:schema>